body {
   
    font-family: 'Roboto', sans-serif;
  }
  
  .login-container {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
  }
  
  .login-card {
    border-radius: 15px;
  }
  
  .form-label {
    color: #fff;
  }
  
  input::placeholder {
    color: #aaa;
  }
  
  .btn-primary {
    background-color: #0072ff;
    border-color: #0072ff;
  }
  
  .btn-primary:hover {
    background-color: #005bbb;
    border-color: #005bbb;
  }
  
  h2 {
    color: #fff;
    font-weight: bold;
  }
  
  .spinner-border {
    color: #fff;
  }
  